<section class="about-romada p-relative about-xavat-p about-bg pt-220 pb-140 bg-yellow-transparent" id="about_smartcash">
    <div class="about-shape f-shape-01 d-none d-sm-block" style="background-image:url(/assets/img/features/f_shape01.png)"></div>
    <div class="about-shape f-shape-02 rellax d-none d-sm-block" data-rellax-speed="3" style="background-image:url(/assets/img/features/f_shape02.png)"></div>
    <div class="about-shape f-shape-03 rellax d-none d-sm-block" data-rellax-speed="6" style="background-image:url(/assets/img/features/f_shape03.png)"></div>
    <div class="container">
        <div class="row align-items-center">
            <div class="col-lg-6">
                <div class="about-img wow fadeInLeft" data-wow-delay="0.2s">
                    <img src="/assets/img/features/features_01.png" alt="feature">
                </div>
            </div>
            <div class="col-lg-6">
                <div class="section-title mb-20">
                    <span >About SmartCash</span>
                    <h2>Get Started With SmartCash</h2>
                </div>
                <div class="about-content">
                    <p><strong>SmartCash</strong> is merchant focused, blockchain-based currency and part of a new decentralized economy.</p>
                    <p><strong>SmartHive</strong> is the part of the block reward designed to fund new software developments for web and core, support, and outreach.</p>
                    <p><strong>SmartRewards</strong> is the part of the block reward designed to reward holders that still does not have more than one million coins.</p>
                    <p><strong>SmartSuperRewards</strong> is the part of the block reward designed to reward holders that already have more than one million coins.</p>
                    <p><strong>SmartNodes</strong> is responsible for making sure you can be a part of a decentralized network. Their only goal is to help the networks and transactions. It does prevent a double-spending attack as well. On the other hand, if you have an active node, our blockchain pays you a reward.</p>
                    <p><strong>InstantPay</strong> is a mechanism that uses SmartNodes in the background to make transactions in milliseconds. In other words, you don't need to wait more than 1 second to have your crypto transaction confirmed in the blockchain. FYI, BTC takes 10 minutes minimum.</p>
                </div>
                <div class="about-btn">
                    <a href="/wallets" class="btn">get started now</a>
                </div>
            </div>
        </div>
    </div>
</section>