<section class="about-romada p-relative about-xavat-p about-bg pt-220 pb-140 bg-yellow-transparent">
    <div class="about-shape f-shape-01 d-none d-sm-block" style="background-image:url(/assets/img/features/f_shape01.png)"></div>
    <div class="about-shape f-shape-02 rellax d-none d-sm-block" data-rellax-speed="3" style="background-image:url(/assets/img/features/f_shape02.png)"></div>
    <div class="about-shape f-shape-03 rellax d-none d-sm-block" data-rellax-speed="6" style="background-image:url(/assets/img/features/f_shape03.png)"></div>
    <div class="container">
        <div class="row align-items-center">
            <div class="col-lg-6">
                <div class="about-img wow fadeInLeft" data-wow-delay="0.2s">
                    <img src="/assets/img/features/features_01.png" alt="feature">
                </div>
            </div>
            <div class="col-lg-6">
                <div class="section-title mb-20">
                    <span>About SmartCash</span>
                    <h2>Get Started With SmartCash</h2>
                </div>
                <div class="about-content">
                    <p><strong>SmartCash</strong> is a community governance, cooperation & growth focused blockchain
                        based currency & a decentralized economy.</p>
                    <p><strong>SmartHive</strong> The self-funding mechanism that pays for the development and
                        encourages members of the community to create their projects to grow and expand the use of
                        SmartCash as a coin all over the globe.</p>
                    <p><strong>SmartRewards</strong> SmartRewards are a price stabilization mechanism and a way to
                        encourage long term holding.</p>
                    <p><strong>InstantPay</strong> In order to provide a quality merchant experience, having Instant
                        Transactions is a must, therefore, say hello to InstantPay.
                    </p>
                </div>
                <div class="about-btn">
                    <a href="#" class="btn">get started now</a>
                </div>
            </div>
        </div>
    </div>
</section>