<!-- brand-area -->
<div class="brand-area pt-100 pb-100 bg-yellow">
    <div class="container">
        <div class="row brand-active">
            <div class="col-xl-2">
                <div class="single-brand">
                    <img src="{{relative_url}}/assets/img/brand/exchanges/1.png" alt="">
                </div>
            </div>
            <div class="col-xl-2">
                <div class="single-brand">
                    <img src="{{relative_url}}/assets/img/brand/exchanges/2.png" alt="">
                </div>
            </div>
            <div class="col-xl-2">
                <div class="single-brand">
                    <img src="{{relative_url}}/assets/img/brand/exchanges/3.png" alt="">
                </div>
            </div>
            <div class="col-xl-2">
                <div class="single-brand">
                    <img src="{{relative_url}}/assets/img/brand/exchanges/4.png" alt="">
                </div>
            </div>
            <div class="col-xl-2">
                <div class="single-brand">
                    <img src="{{relative_url}}/assets/img/brand/exchanges/5.png" alt="">
                </div>
            </div>
            <div class="col-xl-2">
                <div class="single-brand">
                    <img src="{{relative_url}}/assets/img/brand/exchanges/6.png" alt="">
                </div>
            </div>
            <div class="col-xl-2">
                <div class="single-brand">
                    <img src="{{relative_url}}/assets/img/brand/exchanges/7.png" alt="">
                </div>
            </div>
            <div class="col-xl-2">
                <div class="single-brand">
                    <img src="{{relative_url}}/assets/img/brand/exchanges/8.png" alt="">
                </div>
            </div>
            <div class="col-xl-2">
                <div class="single-brand">
                    <img src="{{relative_url}}/assets/img/brand/exchanges/9.png" alt="">
                </div>
            </div>
            <div class="col-xl-2">
                <div class="single-brand">
                    <img src="{{relative_url}}/assets/img/brand/exchanges/10.png" alt="">
                </div>
            </div>
            <div class="col-xl-2">
                <div class="single-brand">
                    <img src="{{relative_url}}/assets/img/brand/exchanges/11.png" alt="">
                </div>
            </div>
            <div class="col-xl-2">
                <div class="single-brand">
                    <img src="{{relative_url}}/assets/img/brand/exchanges/12.png" alt="">
                </div>
            </div>
            <div class="col-xl-2">
                <div class="single-brand">
                    <img src="{{relative_url}}/assets/img/brand/exchanges/13.png" alt="">
                </div>
            </div>
            <div class="col-xl-2">
                <div class="single-brand">
                    <img src="{{relative_url}}/assets/img/brand/exchanges/14.png" alt="">
                </div>
            </div>
            <div class="col-xl-2">
                <div class="single-brand">
                    <img src="{{relative_url}}/assets/img/brand/exchanges/15.png" alt="">
                </div>
            </div>
            <div class="col-xl-2">
                <div class="single-brand">
                    <img src="{{relative_url}}/assets/img/brand/exchanges/16.png" alt="">
                </div>
            </div>
            <div class="col-xl-2">
                <div class="single-brand">
                    <img src="{{relative_url}}/assets/img/brand/exchanges/17.png" alt="">
                </div>
            </div>
            <div class="col-xl-2">
                <div class="single-brand">
                    <img src="{{relative_url}}/assets/img/brand/exchanges/18.png" alt="">
                </div>
            </div>
            <div class="col-xl-2">
                <div class="single-brand">
                    <img src="{{relative_url}}/assets/img/brand/exchanges/19.png" alt="">
                </div>
            </div>
            <div class="col-xl-2">
                <div class="single-brand">
                    <img src="{{relative_url}}/assets/img/brand/exchanges/20.png" alt="">
                </div>
            </div>
            <div class="col-xl-2">
                <div class="single-brand">
                    <img src="{{relative_url}}/assets/img/brand/exchanges/21.png" alt="">
                </div>
            </div>
            <div class="col-xl-2">
                <div class="single-brand">
                    <img src="{{relative_url}}/assets/img/brand/exchanges/22.png" alt="">
                </div>
            </div>
            <div class="col-xl-2">
                <div class="single-brand">
                    <img src="{{relative_url}}/assets/img/brand/exchanges/23.png" alt="">
                </div>
            </div>
            <div class="col-xl-2">
                <div class="single-brand">
                    <img src="{{relative_url}}/assets/img/brand/exchanges/24.png" alt="">
                </div>
            </div>
            <div class="col-xl-2">
                <div class="single-brand">
                    <img src="{{relative_url}}/assets/img/brand/exchanges/25.png" alt="">
                </div>
            </div>
            <div class="col-xl-2">
                <div class="single-brand">
                    <img src="{{relative_url}}/assets/img/brand/exchanges/26.png" alt="">
                </div>
            </div>
            <div class="col-xl-2">
                <div class="single-brand">
                    <img src="{{relative_url}}/assets/img/brand/exchanges/27.png" alt="">
                </div>
            </div>
            <div class="col-xl-2">
                <div class="single-brand">
                    <img src="{{relative_url}}/assets/img/brand/exchanges/28.png" alt="">
                </div>
            </div>
            <div class="col-xl-2">
                <div class="single-brand">
                    <img src="{{relative_url}}/assets/img/brand/exchanges/29.png" alt="">
                </div>
            </div>
        </div>
    </div>
</div>
<!-- brand-area-end -->