<!-- brand-area -->
<div class="brand-area pt-100 pb-100 bg-yellow">
    <div class="container">
        <div class="row brand-active">
            <div class="col-xl-2">
                <div class="single-brand"><a target="_blank" href="https://stealthex.io/">
                        <img src="{{relative_url}}/assets/img/brand/exchanges/1.png" alt="Stealthex"></a>
                </div>
            </div>
            <div class="col-xl-2">
                <div class="single-brand"><a target="_blank" href="https://safe.trade/">
                        <img src="{{relative_url}}/assets/img/brand/exchanges/2.png" alt="SafeTrade"></a>
                </div>
            </div>
            <div class="col-xl-2">
                <div class="single-brand"><a target="_blank" href="https://bittorro.io/">
                        <img src="{{relative_url}}/assets/img/brand/exchanges/3.png" alt="BitTorro"></a>
                </div>
            </div>
            <div class="col-xl-2">
                <div class="single-brand"><a target="_blank" href="https://bitcoinp2p.com.br/index.html">
                        <img src="{{relative_url}}/assets/img/brand/exchanges/4.png" alt="Bitcoin P2P"></a>
                </div>
            </div>
            <div class="col-xl-2">
                <div class="single-brand"><a target="_blank" href="https://www.coinbene.com/">
                        <img src="{{relative_url}}/assets/img/brand/exchanges/5.png" alt="Coinbene"></a>
                </div>
            </div>
            <div class="col-xl-2">
                <div class="single-brand"><a target="_blank" href="https://pro.changelly.com/">
                        <img src="{{relative_url}}/assets/img/brand/exchanges/6.png" alt="Changelly Pro"></a>
                </div>
            </div>
            <div class="col-xl-2">
                <div class="single-brand"><a target="_blank" href="https://changelly.com/">
                        <img src="{{relative_url}}/assets/img/brand/exchanges/7.png" alt="Changelly"></a>
                </div>
            </div>
            <div class="col-xl-2">
                <div class="single-brand"><a target="_blank" href="https://checkmycoin.com/">
                        <img src="{{relative_url}}/assets/img/brand/exchanges/8.png" alt="CheckMyCoin"></a>
                </div>
            </div>
            <div class="col-xl-2">
                <div class="single-brand"><a target="_blank" href="https://coinkit.de/">
                        <img src="{{relative_url}}/assets/img/brand/exchanges/9.png" alt="CoinKit"></a>
                </div>
            </div>
            <div class="col-xl-2">
                <div class="single-brand"><a target="_blank" href="https://www.coinomi.com/en/">
                        <img src="{{relative_url}}/assets/img/brand/exchanges/10.png" alt="Coinomi"></a>
                </div>
            </div>
            <div class="col-xl-2">
                <div class="single-brand"><a target="_blank" href="https://www.coinpayment.net/">
                        <img src="{{relative_url}}/assets/img/brand/exchanges/11.png" alt="CoinPayments"></a>
                </div>
            </div>
            <div class="col-xl-2">
                <div class="single-brand"><a target="_blank" href="https://coinswitch.co/">
                        <img src="{{relative_url}}/assets/img/brand/exchanges/12.png" alt="CoinSwitch"></a>
                </div>
            </div>
            <div class="col-xl-2">
                <div class="single-brand"><a target="_blank" href="https://dex.delion.online">
                        <img src="{{relative_url}}/assets/img/brand/exchanges/13.png" alt="DelionDex"></a>
                </div>
            </div>
            <div class="col-xl-2">
                <div class="single-brand"><a target="_blank" href="">
                        <img src="{{relative_url}}/assets/img/brand/exchanges/14.png" alt=""></a>
                </div>
            </div>
            <div class="col-xl-2">
                <div class="single-brand"><a target="_blank" href="https://edge.app/">
                        <img src="{{relative_url}}/assets/img/brand/exchanges/15.png" alt="Edge"></a>
                </div>
            </div>
            <div class="col-xl-2">
                <div class="single-brand"><a target="_blank" href="https://www.ellipal.com/">
                        <img src="{{relative_url}}/assets/img/brand/exchanges/16.png" alt="Ellipal"></a>
                </div>
            </div>
            <div class="col-xl-2">
                <div class="single-brand"><a target="_blank" href="https://exmo.com/en">
                        <img src="{{relative_url}}/assets/img/brand/exchanges/17.png" alt="Exmo"></a>
                </div>
            </div>
            <div class="col-xl-2">
                <div class="single-brand"><a target="_blank" href="https://www.finexbox.com/">
                        <img src="{{relative_url}}/assets/img/brand/exchanges/18.png" alt="FineBox"></a>
                </div>
            </div>
            <div class="col-xl-2">
                <div class="single-brand"><a target="_blank" href="https://hitbtc.com">
                        <img src="{{relative_url}}/assets/img/brand/exchanges/19.png" alt="HitBTC"></a>
                </div>
            </div>
            <div class="col-xl-2">
                <div class="single-brand"><a target="_blank" href="https://instaswap.io/">
                        <img src="{{relative_url}}/assets/img/brand/exchanges/20.png" alt="InstaSwap"></a>
                </div>
            </div>
            <div class="col-xl-2">
                <div class="single-brand"><a target="_blank" href="https://local.bitcoin.com/">
                        <img src="{{relative_url}}/assets/img/brand/exchanges/21.png" alt="LocalBitcoinCash"></a>
                </div>
            </div>
            <div class="col-xl-2">
                <div class="single-brand"><a target="_blank" href="">
                        <img src="{{relative_url}}/assets/img/brand/exchanges/22.png" alt="PARS"></a>
                </div>
            </div>
            <div class="col-xl-2">
                <div class="single-brand"><a target="_blank" href="https://www.pungo.io/">
                        <img src="{{relative_url}}/assets/img/brand/exchanges/23.png" alt="Pungo Wallet"></a>
                </div>
            </div>
            <div class="col-xl-2">
                <div class="single-brand"><a target="_blank" href="https://stex.com/">
                        <img src="{{relative_url}}/assets/img/brand/exchanges/24.png" alt="Stex"></a>
                </div>
            </div>
            <div class="col-xl-2">
                <div class="single-brand"><a target="_blank" href="https://stratum.bt/home">
                        <img src="{{relative_url}}/assets/img/brand/exchanges/25.png" alt="Stratum"></a>
                </div>
            </div>
            <div class="col-xl-2">
                <div class="single-brand"><a target="_blank" href="https://swap4.me/en/home-page-2/">
                        <img src="{{relative_url}}/assets/img/brand/exchanges/26.png" alt="Swap4.me"></a>
                </div>
            </div>
            <div class="col-xl-2">
                <div class="single-brand"><a target="_blank" href="https://swapspace.co/">
                        <img src="{{relative_url}}/assets/img/brand/exchanges/27.png" alt="SwapSpace"></a>
                </div>
            </div>
            <div class="col-xl-2">
                <div class="single-brand"><a target="_blank" href="https://swapzone.io/">
                        <img src="{{relative_url}}/assets/img/brand/exchanges/28.png" alt="SwapZone"></a>
                </div>
            </div>
            <div class="col-xl-2">
                <div class="single-brand"><a target="_blank" href="https://www.swapchain.io/">
                        <img src="{{relative_url}}/assets/img/brand/exchanges/29.png" alt="SwapChain"></a>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- brand-area-end -->