<!-- brand-area -->
<div class="brand-area pt-100 pb-100" style="background-image:url({{relative_url}}/assets/img/bg/brand_bg.jpg)">
    <div class="container">
        <div class="row brand-active">
            <div class="col-xl-2">
                <div class="single-brand">
                    <img src="{{relative_url}}/assets/img/brand/brand_01.png" alt="">
                </div>
            </div>
            <div class="col-xl-2">
                <div class="single-brand">
                    <img src="{{relative_url}}/assets/img/brand/brand_02.png" alt="">
                </div>
            </div>
            <div class="col-xl-2">
                <div class="single-brand">
                    <img src="{{relative_url}}/assets/img/brand/brand_03.png" alt="">
                </div>
            </div>
            <div class="col-xl-2">
                <div class="single-brand">
                    <img src="{{relative_url}}/assets/img/brand/brand_04.png" alt="">
                </div>
            </div>
            <div class="col-xl-2">
                <div class="single-brand">
                    <img src="{{relative_url}}/assets/img/brand/brand_05.png" alt="">
                </div>
            </div>
            <div class="col-xl-2">
                <div class="single-brand">
                    <img src="{{relative_url}}/assets/img/brand/brand_06.png" alt="">
                </div>
            </div>
            <div class="col-xl-2">
                <div class="single-brand">
                    <img src="{{relative_url}}/assets/img/brand/brand_02.png" alt="">
                </div>
            </div>
        </div>
    </div>
</div>
<!-- brand-area-end -->