    <!-- cta-area -->
    <section class="second-cta pt-133 pb-20" style="background-image:url(/assets/img/bg/cta_bg02.jpg)">
        <div class="container">
            <div class="row align-items-center mb-145">
                <div class="col-xl-7 col-lg-8">
                    <div class="section-title">
                        <span>Get In Touch</span>
                        <h2>We Are Here <br> For You.</h2>
                    </div>
                </div>
                <div class="col-xl-5 col-lg-4">
                    <div class="price-btn">
                        <a href="mailto:hello@smartcash.cc" class="btn">Contact Us</a>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-4 col-md-6 wow fadeInUp" data-wow-delay="0.2s">
                    <div class="single-cta text-center mb-120">
                        <div class="s-cta-icon">
                            <i class="fas fa-map-marker-alt"></i>
                        </div>
                        <h5>Visit Here</h5>
                        <span> <a href="https://discord.io/smartcash" target="_blank">https://discord.io/smartcash</a></span>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6 wow fadeInUp" data-wow-delay="0.4s">
                    <div class="single-cta text-center mb-120">
                        <div class="s-cta-icon">
                            <i class="fas fa-envelope"></i>
                        </div>
                        <h5>Mail Here</h5>
                        <span><a href="mailto:hello@smartcash.cc" target="_blank">hello@smartcash.cc</a></span>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6 wow fadeInUp" data-wow-delay="0.6s">
                    <div class="single-cta text-center mb-120">
                        <div class="s-cta-icon">
                            <i class="fas fa-phone"></i>
                        </div>
                        <h5>Call Here</h5>
                        <span><a href="https://t.me/SmartCashChat" target="_blank">https://t.me/SmartCashChat</a></span>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- cta-area-end -->
    <!-- map-area 
    <div class="map-wrap">
        <a href="#"><img src="/assets/img/bg/map_img01.jpg" alt="map"></a>
    </div>
     map-area-end -->