<!-- footer -->
<footer class="footer-bg pt-140 pb-140">
    <div class="container">
        <div class="row">
            <div class="col-xl-10 offset-xl-1 text-center">
                <div class="footer-logo mb-45 wow fadeInUp" data-wow-delay="0.2s">
                    <a href="index.html"><img src="{{relative_url}}/assets/img/logo/white_logo.png" alt=""></a>
                </div>
                <div class="footer-content mb-45 wow fadeInUp" data-wow-delay="0.4s">
                    <p>Want to keep up with developments, news and updates from the SmartCash team? Explore our $smart channels</p>
                </div>
                <div class="footer-social">

                    <a href="{{https://www.facebook.com/scashofficial/}}"><i class="fab fa-facebook-f"></i></a>

                    <a href="{{https://twitter.com/scashofficial}}"><i class="fab fa-twitter"></i></a>

                    <a href="{{https://www.youtube.com/SmartCashDotCC}}"><i class="fab fa-youtube"></i></a>

                    <a href=""><i class="fab fab fa-discord"></i></a>

                    <a href=""><i class="fab fab fa-telegram"></i></a>

                    <a href=""><i class="fab fab fa-instagram"></i></a>

                    <a href=""><i class="fab fab fa-reddit"></i></a>

                    <a href=""><i class="fab fab fa-forumbee"></i></a>

                </div>
            </div>
        </div>
    </div>
</footer>
<!-- footer-end -->
