<!-- slider-area -->
<section class="slider-area slider-bg" style="background-image:url({{relative_url}}/assets/img/slider/slider_01.png)">
    <div class="slider-active">
        <div class="single-slider">
            <div class="container">
                <div class="row">
                    <div class="col-xl-7 col-lg-8">
                        <div class="slider-content">
                            <h2 data-animation="fadeInLeft" data-delay=".2s">Business Deserves Better Software</h2>
                            <p data-animation="fadeInLeft" data-delay=".4s">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore
                                et dolore magna aliqua.</p>

                            <form action="{{site.mailchimp_url}}" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="validate slider-form" target="_blank" data-animation="fadeInLeft" data-delay=".6s">
                            <input type="email" value="" name="EMAIL" class="email" id="mce-EMAIL" placeholder="email address" required="">
                            <button type="submit" class="btn">subscribe</button>
                        </form>
                        </div>
                    </div>
                    <div class="col-xl-5 col-lg-4 d-none d-lg-block">
                        <div class="slider-img" data-animation="fadeInRight" data-delay=".6s">
                            <img src="{{relative_url}}/assets/img/slider/slider_img.png" alt="">
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- slider-area-end -->