<section class="services-area services-lg-p pt-50 pb-50">
    <div class="container">
        <div class="row">
            <div class="col-lg-4 col-md-6 inner-services-padding wow fadeInUp" data-wow-delay="0.2s">
                <div class="inner-single-services text-center h-100">
                    <div class="is-icon mb-30">
                        <i class="fas fa-newspaper"></i>
                    </div>
                    <div class="is-content">
                        <h5 class="f-bold">PAPER WALLET</h5>
                        <p>Please always check you are using the right URL https://paperwallet.smartcash.cc</p>
                        <a href="https://paperwallet.smartcash.cc">Paper Wallet</a>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-6 inner-services-padding wow fadeInUp" data-wow-delay="0.4s">
                <div class="inner-single-services text-center h-100">
                    <div class="is-icon mb-30">
                        <i class="fas fa-user"></i>
                    </div>
                    <div class="is-content">
                        <h5 class="f-bold">BRAIN WALLET</h5>
                        <p>Stash that SmartCash in your brain!</p>
                        <a href="https://paperwallet.smartcash.cc/brainwallet.html">Brain Wallet</a>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-6 inner-services-padding wow fadeInUp" data-wow-delay="0.6s">
                <div class="inner-single-services text-center h-100">
                    <div class="is-icon mb-30">
                        <i class="fas fa-braille"></i>
                    </div>
                    <div class="is-content">
                        <h5 class="f-bold">MNEMONIC WALLET GENERATOR</h5>
                        <p>generate addresses with a seed phrase!</p>
                        <a href="https://hdwallet.smartcash.cc/">Mnemonic Wallet</a>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-12 mt-20 mb-20 text-center">
                <p class="f-bold">PLEASE ALWAYS DOWNLOAD THE PAPER/BRAIN WALLET AND OPEN IT WITH THE BROWSER OF YOUR CHOICE OFFLINE!</p>
            </div>
        </div>
        <div class="row">
            <div class="col-12 mt-20 mb-20 text-center">
                <h3 class="f-bold"><i class="fas fa-key"></i> HARDWARE WALLETS</h3>
                <p>Hardware wallets are Security Devices that protect your Wallet from hackers and thieves. Hardware Wallets work with the wallet software on your computer by taking over the management of private key generation, private key storage, and transaction signing. Great for long term storage.</p>
            </div>
        </div>
        <div class="row hardware-wallets">
            <div class="col-4"><a href="https://wallet.trezor.io/" target="_blank"><img src="/assets/img/papers/trezor.png" alt=""></a></div>
            <div class="col-4"><a href="https://www.ellipal.com/" target="_blank"><img src="/assets/img/papers/ellipal.png" alt=""></a></div>
            <div class="col-4"><a href="https://www.opolo.io/" target="_blank"><img src="/assets/img/papers/OPOLO.png" alt=""></a></div>
        </div>
    </div>
</section>