<!-- promotion-area -->
<section class="promotion-area theme-bg section-ptb">
    <div class="container">
        <div class="row align-items-center">
            <div class="col-xl-5 col-lg-5">
                <div class="promotion-img wow fadeInLeft" data-wow-delay="0.2s">
                    <img src="{{relative_url}}/assets/img/promotion/promotion_img.png" alt="">
                </div>
            </div>
            <div class="col-xl-6 offset-xl-1 col-lg-7">
                <div class="section-title mb-50">
                    <span>Grow Your Marketing Style</span>
                    <h2>Grow Your Business With Xavat</h2>
                </div>
                <div class="row">
                    <div class="col-sm-6">
                        <div class="single-promotion-wrap mb-35">
                            <div class="promotion-icon mb-25">
                                <i class="fas fa-pen"></i>
                            </div>
                            <div class="promotion-content">
                                <h5>User Friendly Design</h5>
                                <p>Lorem ipsum dolor sit amet ctetur adipisicing elit, sed do eiusmod tempor incididunt.</p>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-6">
                        <div class="single-promotion-wrap mb-35">
                            <div class="promotion-icon mb-25">
                                <i class="fas fa-cog"></i>
                            </div>
                            <div class="promotion-content">
                                <h5>Easy To Edit</h5>
                                <p>Lorem ipsum dolor sit amet ctetur adipisicing elit, sed do eiusmod tempor incididunt.</p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="promotion-btn">
                    <a href="#" class="btn">Learn more</a>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- promotion-area-end -->