    <section class="services-area services-lg-p pt-133 pb-110">
        <div class="container">
            <div class="row align-items-center mb-70">
                <div class="col-xl-8">
                    <div class="section-title">
                        <span>Services</span>
                        <h2>We Are Controlling <br> Your Mind</h2>
                    </div>
                </div>
                <div class="col-xl-4">
                    <div class="team-btn">
                        <a href="#" class="btn">More Services</a>
                    </div>
                </div>
            </div>
            <div class="inner-services-wrap">
                <div class="row">
                    <div class="col-lg-4 col-md-6 inner-services-padding wow fadeInUp" data-wow-delay="0.2s">
                        <div class="inner-single-services text-center">
                            <div class="is-icon mb-30">
                                <i class="fas fa-box-open"></i>
                            </div>
                            <div class="is-content">
                                <h4>Product Development</h4>
                                <p>Lorem ipsum dolor sit amet, conse ctetur adipisicing elit, sed do eiusmod tempor incididunt.</p>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-4 col-md-6 inner-services-padding wow fadeInUp" data-wow-delay="0.4s">
                        <div class="inner-single-services text-center">
                            <div class="is-icon mb-30">
                                <i class="fas fa-cog"></i>
                            </div>
                            <div class="is-content">
                                <h4>UI/UX Design</h4>
                                <p>Lorem ipsum dolor sit amet, conse ctetur adipisicing elit, sed do eiusmod tempor incididunt.</p>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-4 col-md-6 inner-services-padding wow fadeInUp" data-wow-delay="0.6s">
                        <div class="inner-single-services text-center">
                            <div class="is-icon mb-30">
                                <i class="fas fa-stream"></i>
                            </div>
                            <div class="is-content">
                                <h4>Interior Design</h4>
                                <p>Lorem ipsum dolor sit amet, conse ctetur adipisicing elit, sed do eiusmod tempor incididunt.</p>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-4 col-md-6 inner-services-padding wow fadeInUp" data-wow-delay="0.8s">
                        <div class="inner-single-services text-center">
                            <div class="is-icon mb-30">
                                <i class="fas fa-recycle"></i>
                            </div>
                            <div class="is-content">
                                <h4>Interior Design</h4>
                                <p>Lorem ipsum dolor sit amet, conse ctetur adipisicing elit, sed do eiusmod tempor incididunt.</p>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-4 col-md-6 inner-services-padding wow fadeInUp" data-wow-delay="1s">
                        <div class="inner-single-services text-center">
                            <div class="is-icon mb-30">
                                <i class="fas fa-globe"></i>
                            </div>
                            <div class="is-content">
                                <h4>Interior Design</h4>
                                <p>Lorem ipsum dolor sit amet, conse ctetur adipisicing elit, sed do eiusmod tempor incididunt.</p>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-4 col-md-6 inner-services-padding wow fadeInUp" data-wow-delay="1.2s">
                        <div class="inner-single-services text-center">
                            <div class="is-icon mb-30">
                                <i class="fab fa-wordpress"></i>
                            </div>
                            <div class="is-content">
                                <h4>Interior Design</h4>
                                <p>Lorem ipsum dolor sit amet, conse ctetur adipisicing elit, sed do eiusmod tempor incididunt.</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>