<section class="services-area services-lg-p pt-133 pb-110">
    <div class="container">
        <div class="row align-items-center mb-70">
            <div class="col-xl-8">
                <div class="section-title">
                    <span>What is new on SmartCash in 2021?</span>
                    <h2>Be your own bank</h2>
                </div>
            </div>
            <div class="col-xl-4">
                <div class="team-btn">
                    <a href="#more-services" class="btn">More Services</a>
                </div>
            </div>
        </div>
        <div class="inner-services-wrap">
            <div class="row">
                <div class="col-lg-4 col-md-6 inner-services-padding wow fadeInUp" data-wow-delay="0.2s">
                    <div class="inner-single-services text-center">
                        <div class="is-icon mb-30">
                            <i class="fas fa-donate"></i>
                        </div>
                        <div class="is-content">
                            <h4>Smart Terms Rewards</h4>
                            <p>Already receiving Super Rewards but has a strong hand and don't care about waiting for a minimum of one year with your funds locked? So your income can be much better than it already is, receiving a minimum of 60% every year.</p>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6 inner-services-padding wow fadeInUp" data-wow-delay="0.4s">
                    <div class="inner-single-services text-center">
                        <div class="is-icon mb-30">
                            <i class="fas fa-calendar-alt"></i>
                        </div>
                        <div class="is-content">
                            <h4>Smart Rewards</h4>
                            <p>Receive income while you party. Every weekend Smart Rewards is paid by our blockchain. So, activate your address and enjoy the result.</p>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6 inner-services-padding wow fadeInUp" data-wow-delay="0.6s">
                    <div class="inner-single-services text-center">
                        <div class="is-icon mb-30">
                            <i class="fas fa-chart-line"></i>
                        </div>
                        <div class="is-content">
                            <h4>Smart Super Rewards</h4>
                            <p>Do you already have ~1 million SMART and don't like trading? Just activate your address and welcome to the wealth club.</p>
                        </div>
                    </div>

                </div>
                <div class="col-lg-4 col-md-6 inner-services-padding wow fadeInUp" data-wow-delay="0.8s">
                    <div class="inner-single-services text-center">
                        <div class="is-icon mb-30">
                            <i class="fas fa-coffee"></i>
                        </div>
                        <div class="is-content">
                            <h4>Smart Compound Interest</h4>
                            <p>Much more than a cup of Coffee, both your Smart Rewards and Super Rewards receive
                                compound interest.</p>
                        </div>
                    </div>

                </div>
                <div class="col-lg-4 col-md-6 inner-services-padding wow fadeInUp" data-wow-delay="1s">
                    <div class="inner-single-services text-center">
                        <div class="is-icon mb-30">
                            <i class="fas fa-project-diagram"></i>
                        </div>
                        <div class="is-content">
                            <h4>Smart Hub</h4>
                            <p>Every system is well connected to our decentralized API called SAPI. No blockchain sync.
                                No central server! Zero Costs!</p>
                        </div>
                    </div>

                </div>
                <div class="col-lg-4 col-md-6 inner-services-padding wow fadeInUp" data-wow-delay="1.2s">
                    <div class="inner-single-services text-center">
                        <div class="is-icon mb-30">
                            <i class="fas fa-sms"></i>
                        </div>
                        <div class="is-content">
                            <h4>Smart Text</h4>
                            <p>The best way to send SMART via SMS.</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>