    <!-- slider-area -->
    <section id="parallax" class="slider-area slider-bg second-slider fix" style="background-image:url(/assets/img/slider/slider_02.jpg)">
        <div class="slider-shape slider-shape01 layer" data-depth="0.10"><img src="/assets/img/404/e-shape02.png" alt="shape"></div>
        <div class="slider-shape slider-shape02 layer" data-depth="0.05"><img src="/assets/img/404/e-shape03.png" alt="shape"></div>
        <div class="slider-shape slider-shape03 layer" data-depth="0.08"><img src="/assets/img/404/e-shape04.png" alt="shape"></div>
        <div class="slider-active">
            <div class="single-slider">
                <div class="container">
                    <div class="row">
                        <div class="col-xl-7 col-lg-8">
                            <div class="slider-content second-slider-content">
                                <span>We Are Here For Your Support</span>
                                <h2 data-animation="fadeInLeft" data-delay=".2s">SmartCash 2.0 Horizon</h2>
                                <p data-animation="fadeInLeft" data-delay=".4s">A brand new version of the best crypto currency. It includes the new TermRewards.</p>
                                <div class="slider-btn">
                                    <a href="#" class="btn">Download your wallet</a>
                                    <a href="#" class="btn">Learn More </a>
                                </div>
                            </div>
                        </div>
                        <div class="col-xl-5 col-lg-4 d-none d-lg-block">
                            <div class="second-slider-img" data-animation="fadeInRight" data-delay=".6s">
                                <img src="/assets/img/slider/slider_img02.png" alt="">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- slider-area-end -->