    <!-- team-area -->
    <section class="second-team-area pb-135">
        <div class="container">
            <div class="row align-items-center mb-70">
                <div class="col-12">
                    <div class="section-title align-items-center">                        
                        <h3 class="text-center"> <a href=""><i class="fa fa-cogs"></i></a> SUPPORT & WEB</h3>
                        <span class="text-center">This Hive is responsible for on-boarding & generalized SmartCash support.</span>
                    </div>
                </div>
            </div>
            <div class="row s-team-active">
                <div class="col-xl-4">
                    <div class="single-team-wrap text-center">
                        <div class="team-thumb">
                            <img src="{{relative_url}}/assets/img/team/inner-team/empty.png" alt="">
                            <div class="team-overly">
                                <a href="#"><i class="fab fa-facebook-f"></i></a>
                                <a href="#"><i class="fab fa-twitter"></i></a>
                                <a href="#"><i class="fab fa-linkedin-in"></i></a>
                            </div>
                        </div>
                        <div class="second-team-info">
                            <h4>Alexander</h4>
                            <span>Hive Coordinator</span>
                            <p>Alex is a jack of all trades who loves Technology, Graphics, Web Design & Infrastructure.</p>
                        </div>
                    </div>
                </div>
                <div class="col-xl-4">
                    <div class="single-team-wrap text-center">
                        <div class="team-thumb">
                            <img src="{{relative_url}}/assets/img/team/inner-team/empty.png" alt="">
                            <div class="team-overly">
                                <a href="#"><i class="fab fa-facebook-f"></i></a>
                                <a href="#"><i class="fab fa-twitter"></i></a>
                                <a href="#"><i class="fab fa-linkedin-in"></i></a>
                            </div>
                        </div>
                        <div class="second-team-info">
                            <h4>Cryptolize</h4>
                            <span>QA</span>
                        </div>
                    </div>
                </div>
                <div class="col-xl-4">
                    <div class="single-team-wrap text-center">
                        <div class="team-thumb">
                            <img src="{{relative_url}}/assets/img/team/inner-team/empty.png" alt="">
                            <div class="team-overly">
                                <a href="#"><i class="fab fa-facebook-f"></i></a>
                                <a href="#"><i class="fab fa-twitter"></i></a>
                                <a href="#"><i class="fab fa-linkedin-in"></i></a>
                            </div>
                        </div>
                        <div class="second-team-info">
                            <h4>Zaphoid</h4>
                            <span>Vice Coordinator</span>
                        </div>
                    </div>
                </div>
                <div class="col-xl-4">
                    <div class="single-team-wrap text-center">
                        <div class="team-thumb">
                            <img src="{{relative_url}}/assets/img/team/inner-team/empty.png" alt="">
                            <div class="team-overly">
                                <a href="#"><i class="fab fa-facebook-f"></i></a>
                                <a href="#"><i class="fab fa-twitter"></i></a>
                                <a href="#"><i class="fab fa-linkedin-in"></i></a>
                            </div>
                        </div>
                        <div class="second-team-info">
                            <h4>Hoangton</h4>
                            <span>Support</span>
                        </div>
                    </div>
                </div>
                <div class="col-xl-4">
                    <div class="single-team-wrap text-center">
                        <div class="team-thumb">
                            <img src="{{relative_url}}/assets/img/team/inner-team/empty.png" alt="">
                            <div class="team-overly">
                                <a href="#"><i class="fab fa-facebook-f"></i></a>
                                <a href="#"><i class="fab fa-twitter"></i></a>
                                <a href="#"><i class="fab fa-linkedin-in"></i></a>
                            </div>
                        </div>
                        <div class="second-team-info">
                            <h4>Slpin</h4>
                            <span>Fiscal Officer</span>
                        </div>
                    </div>
                </div>
                <div class="col-xl-4">
                    <div class="single-team-wrap text-center">
                        <div class="team-thumb">
                            <img src="{{relative_url}}/assets/img/team/inner-team/empty.png" alt="">
                            <div class="team-overly">
                                <a href="#"><i class="fab fa-facebook-f"></i></a>
                                <a href="#"><i class="fab fa-twitter"></i></a>
                                <a href="#"><i class="fab fa-linkedin-in"></i></a>
                            </div>
                        </div>
                        <div class="second-team-info">
                            <h4>Dim</h4>
                            <span>Video Guru</span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- team-area-end -->