<!-- testimonial-area -->
<section class="s-testimonial st-bg pt-140 pb-190" style="background-image:url(/assets/img/bg/testimonial_bg02.jpg)">
    <div class="container">
        <div class="row second-testimonial-active">
            <div class="col-12 text-center">
                <div class="section-title mb-75">
                    <div class="title-quote">
                        <img src="/assets/img/icon/quote_icon.png" alt="icon">
                    </div>
                    <h2>Our Happy Clients <br> Say’s About US</h2>
                </div>
                <div class="test-content mb-45">
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna
                    aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
                </div>
                <div class="test-avatar">
                    <div class="t-avatar-img mb-25">
                        <img src="/assets/img/testimonail/avatar02.png" alt="">
                    </div>
                    <h4>Jarvis D. Mikado</h4>
                    <span>founder, jarvis co.</span>
                </div>
            </div>
            <div class="col-12 text-center">
                <div class="section-title mb-75">
                    <div class="title-quote">
                        <img src="/assets/img/icon/quote_icon.png" alt="icon">
                    </div>
                    <h2>Our Happy Clients <br> Say’s About US</h2>
                </div>
                <div class="test-content mb-45">
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna
                    aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
                </div>
                <div class="test-avatar">
                    <div class="t-avatar-img mb-25">
                        <img src="/assets/img/testimonail/avatar02.png" alt="">
                    </div>
                    <h4>Jarvis D. Mikado</h4>
                    <span>founder, jarvis co.</span>
                </div>
            </div>
            <div class="col-12 text-center">
                <div class="section-title mb-75">
                    <div class="title-quote">
                        <img src="/assets/img/icon/quote_icon.png" alt="icon">
                    </div>
                    <h2>Our Happy Clients <br> Say’s About US</h2>
                </div>
                <div class="test-content mb-45">
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna
                    aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
                </div>
                <div class="test-avatar">
                    <div class="t-avatar-img mb-25">
                        <img src="/assets/img/testimonail/avatar02.png" alt="">
                    </div>
                    <h4>Jarvis D. Mikado</h4>
                    <span>founder, jarvis co.</span>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- testimonial-area-end -->