<!-- choose-area -->
<section class="choose-area pt-133">
    <div class="container">
        <div class="row align-items-center mb-40">
            <div class="col-xl-8">
                <div class="section-title">
                    <span>Why Choose Us</span>
                    <h2>Acutually Why We Are <br> & Who We Are.</h2>
                </div>
            </div>
            <div class="col-xl-4">
                <div class="team-btn">
                    <a href="#" class="btn">Learn More</a>
                </div>
            </div>
        </div>
        <div class="choose-area-wrap pb-75">
            <div class="row">
                <div class="col-lg-6 wow fadeInUp" data-wow-delay="0.2s">
                    <div class="single-choose-f pb-60 mt-60">
                        <div class="scf-icon">
                            <img src="/assets/img/icon/features_icon01.png" alt="">
                        </div>
                        <div class="scf-content">
                            <h4>SmartRewards</h4>
                            <p>SmartRewards are a price stabilization mechanism and a way to encourage long term
                                holding.</p>
                        </div>
                    </div>
                </div>
                <div class="col-lg-6 wow fadeInUp" data-wow-delay="0.4s">
                    <div class="single-choose-f pb-60 mt-60">
                        <div class="scf-icon">
                            <img src="/assets/img/icon/features_icon02.png" alt="">
                        </div>
                        <div class="scf-content">
                            <h4>SmartHive voting</h4>
                            <p>Lets all users vote on proposals. Basically, each SmartCash coin is worth 1 vote, to keep
                                it simple.</p>
                        </div>
                    </div>
                </div>
                <div class="col-lg-6 wow fadeInUp" data-wow-delay="0.6s">
                    <div class="single-choose-f border-bn pb-60 mt-60">
                        <div class="scf-icon">
                            <img src="/assets/img/icon/features_icon03.png" alt="">
                        </div>
                        <div class="scf-content">
                            <h4>SmartHive</h4>
                            <p>SmartHive enables anyone that holds coins to vote on proposals submitted by the
                                community. SmartHive will be the lifeblood of the project, which will allow anyone to
                                get involved and submit proposals, helping to generate organic growth at a grassroots
                                level, creating a bottom-up management structure.</p>
                        </div>
                    </div>
                </div>
                <div class="col-lg-6 wow fadeInUp" data-wow-delay="0.8s">
                    <div class="single-choose-f border-bn pb-60 mt-60">
                        <div class="scf-icon">
                            <img src="/assets/img/icon/features_icon04.png" alt="">
                        </div>
                        <div class="scf-content">
                            <h4>SmartNodes</h4>
                            <p>SmartNodes are servers that run a SmartCash wallet and make decisions.

                                SmartNodes enable the following services:

                                InstantPay

                                SmartRewards</p>
                        </div>
                    </div>
                </div>
                <div class="col-lg-6 wow fadeInUp" data-wow-delay="0.6s">
                    <div class="single-choose-f border-bn pb-60 mt-60">
                        <div class="scf-icon">
                            <img src="/assets/img/icon/features_icon03.png" alt="">
                        </div>
                        <div class="scf-content">
                            <h4>Electrum Wallet</h4>
                            <p>Electrum’s focus is speed and simplicity, with low resource usage. It uses remote servers
                                that handle the most complicated parts of the SmartCash system, and it allows you to
                                recover your wallet from a secret phrase.</p>
                        </div>
                    </div>
                </div>
                <div class="col-lg-6 wow fadeInUp" data-wow-delay="0.8s">
                    <div class="single-choose-f border-bn pb-60 mt-60">
                        <div class="scf-icon">
                            <img src="/assets/img/icon/features_icon04.png" alt="">
                        </div>
                        <div class="scf-content">
                            <h4>InstantPay</h4>
                            <p>(Instant Transactions): Allows for SmartCash transactions to be locked in about a second.
                                No risk of double spending a transaction, so the receiver can trust that transaction
                                immediately.</p>
                        </div>
                    </div>
                </div>
                <div class="col-lg-6 wow fadeInUp" data-wow-delay="0.6s">
                    <div class="single-choose-f border-bn pb-60 mt-60">
                        <div class="scf-icon">
                            <img src="/assets/img/icon/features_icon03.png" alt="">
                        </div>
                        <div class="scf-content">
                            <h4>Multisig</h4>
                            <p>Multisignature (multisig) refers to requiring more than one key to authorize a SmartCash transaction. It is generally used to divide up responsibility for possession of SmartCash.</p>
                        </div>
                    </div>
                </div>
                <div class="col-lg-6 wow fadeInUp" data-wow-delay="0.8s">
                    <div class="single-choose-f border-bn pb-60 mt-60">
                        <div class="scf-icon">
                            <img src="/assets/img/icon/features_icon04.png" alt="">
                        </div>
                        <div class="scf-content">
                            <h4>Smartnode starting from electrum</h4>
                            <p>You can start SmartNode from Electrum wallet, don’t need to install NodeClient to run SmartNode</p>
                        </div>
                    </div>
                </div>

                <div class="col-lg-6 wow fadeInUp" data-wow-delay="0.6s">
                    <div class="single-choose-f border-bn pb-60 mt-60">
                        <div class="scf-icon">
                            <img src="/assets/img/icon/features_icon03.png" alt="">
                        </div>
                        <div class="scf-content">
                            <h4>Send Smart by Email/Link/SMS</h4>
                            <p>User can send SMART via Email, link or SMS.</p>
                        </div>
                    </div>
                </div>
                <div class="col-lg-6 wow fadeInUp" data-wow-delay="0.8s">
                    <div class="single-choose-f border-bn pb-60 mt-60">
                        <div class="scf-icon">
                            <img src="/assets/img/icon/features_icon04.png" alt="">
                        </div>
                        <div class="scf-content">
                            <h4>SmartHub</h4>
                            <p>You can now use a FULL decentralized wallet in your desktop without any need to sync the blockchain. If you have a node you can use it to broadcast your transactions.</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-12">
                <div class="s-features-video second-video-wrap wow fadeInUp" data-wow-delay=".8s">
                    <img src="/assets/img/services/s_video.jpg" alt="video">
                    <a href="https://www.youtube.com/watch?v=vKSA_idPZkc" class="popup-video"><i
                            class="fas fa-play"></i></a>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- choose-area-end -->