<!-- choose-area -->
<section id="more-services" class="choose-area pt-133">
    <div class="container">
        <div class="row align-items-center mb-40">
            <div class="col-xl-8">
                <div class="section-title">
                    <span>Why Choose Us</span>
                    <h2>Acutually Why We Are <br> & Who We Are.</h2>
                </div>
            </div>
            <div class="col-xl-4">
                <div class="team-btn">
                    <a href="https://www.youtube.com/channel/UCzwZxu6BtWcRiQXdPqNeB5Q" target="_blank" class="btn">learn more</a>
                </div>
            </div>
        </div>
        <div class="choose-area-wrap pb-75">
            <div class="row">
                <div class="col-lg-6 wow fadeInUp" data-wow-delay="0.2s">
                    <div class="single-choose-f pb-60 mt-60">
                        <div class="scf-icon">
                            <i class="fas fa-calendar-alt fa-4x"></i>
                        </div>
                        <div class="scf-content">
                            <h4>SmartRewards</h4>
                            <p>is the part of the block reward designed to reward holders that still does not have more than one million coins.</p>
                        </div>
                    </div>
                </div>
                <div class="col-lg-6 wow fadeInUp" data-wow-delay="0.4s">
                    <div class="single-choose-f pb-60 mt-60">
                        <div class="scf-icon">
                            <i class="fas fa-chart-line fa-4x"></i>
                        </div>
                        <div class="scf-content">
                            <h4>Smart Super Rewards</h4>
                            <p>is the part of the block reward designed to reward holders that already have more than one million coins.</p>
                        </div>
                    </div>
                </div>
                <div class="col-lg-6 wow fadeInUp" data-wow-delay="0.4s">
                    <div class="single-choose-f pb-60 mt-60">
                        <div class="scf-icon">
                            <i class="fas fa-donate fa-4x"></i>
                        </div>
                        <div class="scf-content">
                            <h4>Smart Terms Rewards</h4>
                            <p>Is a part of the community budget allocated to reward in locked payments those who are willing to lock their addresses per 1, 2, 3, 4, or 5 years and already a Smart Super Reward holder.</p>
                        </div>
                    </div>
                </div>
                <div class="col-lg-6 wow fadeInUp" data-wow-delay="0.8s">
                    <div class="single-choose-f border-bn pb-60 mt-60">
                        <div class="scf-icon">
                            <i class="fas fa-project-diagram fa-4x"></i>
                        </div>
                        <div class="scf-content">
                            <h4>SmartHub</h4>
                            <p>Smart Hub is our new platform that is well connected to our decentralized API called SAPI. No blockchain sync. No central server! Zero Costs!</p>
                        </div>
                    </div>
                </div>
                <div class="col-lg-6 wow fadeInUp" data-wow-delay="0.6s">
                    <div class="single-choose-f border-bn pb-60 mt-60">
                        <div class="scf-icon">
                            <i class="fas fa-sms fa-4x"></i>
                        </div>
                        <div class="scf-content">
                            <h4>Send Smart by Email/Link/SMS</h4>
                            <p>User can send SMART via Email, link or SMS.</p>
                        </div>
                    </div>
                </div>
                <div class="col-lg-6 wow fadeInUp" data-wow-delay="0.6s">
                    <div class="single-choose-f border-bn pb-60 mt-60">
                        <div class="scf-icon">
                            <i class="fas fa-chart-pie fa-4x"></i>
                        </div>
                        <div class="scf-content">
                            <h4>SmartHive</h4>
                            <p>SmartHive is the system designed to distribute and allocate budgets to work in parallel to develop more products and correctly announce them.</p>
                        </div>
                    </div>
                </div>
                <div class="col-lg-6 wow fadeInUp" data-wow-delay="0.8s">
                    <div class="single-choose-f border-bn pb-60 mt-60">
                        <div class="scf-icon">
                            <i class="fas fa-route fa-4x"></i>
                            
                        </div>
                        <div class="scf-content">
                            <h4>SmartNodes</h4>
                            <p>SmartNodes are servers that run a SmartCash wallet in order to provide noncentral systems, reducing costs, and hosting APIs where we can build online systems over it. Meanwhile, it is fully responsible for locking a transaction and providing what we call Instant Pay. That means your transaction takes only milliseconds to arrive in another wallet.</p>
                        </div>
                    </div>
                </div>
                <div class="col-lg-6 wow fadeInUp" data-wow-delay="0.6s">
                    <div class="single-choose-f border-bn pb-60 mt-60">
                        <div class="scf-icon">
                            <i class="fas fa-sync fa-4x"></i>
                        </div>
                        <div class="scf-content">
                            <h4>Electrum Wallet</h4>
                            <p>Electrum’s focus is speed and simplicity, with low resource usage. It uses remote servers
                                that handle the most complicated parts of the SmartCash system, and it allows you to
                                recover your wallet from a secret phrase.</p>
                        </div>
                    </div>
                </div>
                <div class="col-lg-6 wow fadeInUp" data-wow-delay="0.8s">
                    <div class="single-choose-f border-bn pb-60 mt-60">
                        <div class="scf-icon">
                            <i class="fas fa-cart-arrow-down fa-4x"></i>
                        </div>
                        <div class="scf-content">
                            <h4>InstantPay</h4>
                            <p>(Instant Transactions): Allows for SmartCash transactions to be locked in about a second. Used mostly for merchants and SmartCard.
                                No risk of double spending a transaction, so the receiver can trust that transaction immediately.</p>
                        </div>
                    </div>
                </div>
                <div class="col-lg-6 wow fadeInUp" data-wow-delay="0.6s">
                    <div class="single-choose-f border-bn pb-60 mt-60">
                        <div class="scf-icon">
                            <i class="fas fa-handshake fa-4x"></i>
                        </div>
                        <div class="scf-content">
                            <h4>Multisig</h4>
                            <p>Multisignature (multisig) refers to requiring more than one key to authorize a SmartCash transaction. It is generally used to divide up responsibility for possession of SmartCash.</p>
                        </div>
                    </div>
                </div>
            </div>
        </div><!--
        <div class="row">
            <div class="col-12">
                <div class="s-features-video second-video-wrap wow fadeInUp" data-wow-delay=".8s">
                    <img src="/assets/img/services/s_video.jpg" alt="video">
                    <a href="https://www.youtube.com/watch?v=vKSA_idPZkc" class="popup-video"><i
                            class="fas fa-play"></i></a>
                </div>
            </div>
        </div>-->
    </div>
</section>
<!-- choose-area-end -->